<section id="content">
  <div class="row">
    <h3>Vykonávané funkcie</h3>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Popis</th>
      </tr>
      </thead>
      <tbody>
      <% proclamation.jobs.each do |job| %>
          <tr>
            <td><%= job.description %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h3>Príjmy</h3>

    <div class="col-md-4">
      <table class="table table-hover">
        <caption>Príjmy z výkonu verejnej funkcie</caption>
        <thead>
        <tr>
          <th>Suma</th>
          <th>Mena</th>
        </tr>
        </thead>
        <tbody>
        <% proclamation.gains.select { |g| g.category == 'administrative' }.each do |gain| %>
            <tr>
              <td><%= gain.value > 0 ? gain.convert_value_to_eur : '-' %></td>
              <td>€</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="table table-hover">
        <caption>Iné príjmy</caption>
        <thead>
        <tr>
          <th>Suma</th>
          <th>Mena</th>
        </tr>
        </thead>
        <tbody>
        <% proclamation.gains.select { |g| g.category == 'other' }.each do |gain| %>
            <tr>
              <td><%= gain.value > 0 ? gain.convert_value_to_eur : '-' %></td>
              <td><%= gain.currency %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="table table-hover">
        <caption>Ostatné príjmy</caption>
        <thead>
        <tr>
          <th>Suma</th>
          <th>Mena</th>
        </tr>
        </thead>
        <tbody>
        <% proclamation.gains.select { |g| g.category == 'administrative' }.each do |gain| %>
            <tr>
              <td><%= gain.value > 0 ? gain.convert_value_to_eur : '-' %></td>
              <td><%= gain.currency %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3>Náhrady</h3>

    <div class="col-md-4">
      <table class="table table-hover">
        <caption>Paušálne náhrady</caption>
        <thead>
        <tr>
          <th>Suma</th>
          <th>Mena</th>
        </tr>
        </thead>
        <tbody>
        <% proclamation.gains.select { |g| g.category == 'administrative' }.each do |gain| %>
            <tr>
              <td><%= gain.value > 0 ? gain.value : '-' %></td>
              <td><%= gain.currency %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="table table-hover">
        <caption>Iné náhrady</caption>
        <thead>
        <tr>
          <th>Suma</th>
          <th>Mena</th>
        </tr>
        </thead>
        <tbody>
        <% proclamation.gains.select { |g| g.category == 'administrative' }.each do |gain| %>
            <tr>
              <td><%= gain.value > 0 ? gain.value : '-' %></td>
              <td><%= gain.currency %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3>Majetok</h3>

    <div class="col-md-4">
      <table class="table table-hover">
        <caption>Hnuteľný majetok</caption>
        <thead>
        <tr>
          <th>Suma</th>
          <th>Mena</th>
        </tr>
        </thead>
        <tbody>
        <% proclamation.gains.select { |g| g.category == 'administrative' }.each do |gain| %>
            <tr>
              <td><%= gain.value > 0 ? gain.value : '-' %></td>
              <td><%= gain.currency %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-hover">
        <caption>Nehnuteľný majetok</caption>
        <thead>
        <tr>
          <th>Suma</th>
          <th>Mena</th>
        </tr>
        </thead>
        <tbody>
        <% proclamation.gains.select { |g| g.category == 'administrative' }.each do |gain| %>
            <tr>
              <td><%= gain.value > 0 ? gain.value : '-' %></td>
              <td><%= gain.currency %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>