
<h2><%= @functionary.full_name %></h2>


<div id="graphs">

</div>

<ul class="nav nav-tabs">
  <% @functionary.proclamations.each_with_index do |proclam, i| %>
      <li class="<%= i ==0 ? "active" : "" %>">
        <a data-toggle="tab" href="#proclamation-<%= proclam.year %>"><%= proclam.year %></a>
      </li>

  <% end %>
</ul>

<div class="tab-content">

  <% @functionary.proclamations.each_with_index do |proclam, i| %>
      <div id="proclamation-<%=proclam.year%>" class="tab-pane fade <%= i==0 ? "in active" : ""%>">
        <%= render 'proclamation', proclamation: proclam %>
      </div>
    <%end%>
</div>


<script>
    barchart("<%= @functionary.id.to_s %>");
</script>