
<h2><%= @functionary.full_name %></h2>


<div id="graphs">

</div>

<ul class="nav nav-tabs">
  <% @functionary.proclamations.each do |proclam| %>
      <li role="presentation" class="active">
        <a data-toggle="tab" href="#proclamation_<%= proclam.year %>"><%= proclam.year %></a>
      </li>

  <% end %>
</ul>

<div class="tab-content">

  <% @functionary.proclamations.each do |proclam| %>
  <div id="proclamation_<%=proclam.year%>" class="tab-pane fade in active"></div>

    <%= render 'proclamation', proclamation: proclam %>
    <%end%>
</div>

<script>
    barchart("<%= @functionary.id.to_s %>");
</script>